{% extends 'core/base.html' %}
{% load static %}
{% block title %}Clima{% endblock %}
{% block content %}
<div class="container">
    <h1 id='clima'></h1>
    <h2 id='lugar'></h2>
    <img id="img_clima" src="">
    <button onclick="getLocation()">Get my location.</button>
    <script>
    function getLocation() {
        var openWeatherMap = 'http://api.openweathermap.org/data/2.5/weather'
        if (window.navigator && window.navigator.geolocation) {
            window.navigator.geolocation.getCurrentPosition(function(position){
                $.getJSON(openWeatherMap, {
                    lat: position.coords.latitude,
                    lon: position.coords.longitude,
                    units: 'metric',
                    APPID: '3366e803629bef2ef00cbc0982d79a1c'
                }).done(function(data) {
                    //document.getElementById("clima").innerHTML = data.main.temp
                    //document.getElementById("lugar").innerHTML = data.name
                    $('#clima').text(data.main.temp)
                    $('#lugar').text(data.name)
                    let url_imagen = 'http://openweathermap.org/img/w/' +  data.weather[0].icon + '.png'
                    $('#img_clima').attr('src', url_imagen)
                    console.log(data)
                })
            })
        }
    } 
   </script>
</div>
{% endblock %}