{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
    <div class="fondo">
        
        <div class="row">
            <div class="col s12 m6 margen-logo">
                <div class="row">
                    <div class="col m1"></div>
                    <div class="col m3 logo">
                        <img class="logo" src="{% static 'core/img/hoja.jpg' %}">
                    </div>
                    <div class="col m1"></div>
                    <div class="col m5">
                        <span class="white-text"><p>
                            <h3>Veggiex</h3>
                            by Proinndev
                        </p></span>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 margen-login">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title teal-text text-darken-2"><b>Accede a Veggiex</b></span>
                        <form action="" method="POST">{% csrf_token %}
                            <div class="row">
                                <div class="col s12">
                                    {% if form.non_field_errors %}
                                    <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
                                    {% endif %}
                                </div>
                                <div class="input-field col s12">
                                    <input placeholder="admin" id="id_username" type="text" name="username" class="validate" required>
                                    <label for="id_username">Usuario</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="id_password" type="password" name="password"  class="validate" required>
                                    <label for="id_password">Password</label>
                                </div>
                            </div>
                            <input type="submit" class="waves-effect waves-light btn"" value=" Acceder">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}