
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="{% url 'update_datospersonales' %}">actualizar datos</a></li>
    <li class="divider"></li>
    <li><a href="{% url 'logout' %}">Salir</a></li>
</ul>
<nav class="cyan darken-4">
    <div class="nav-wrapper">
        <ul class="right">
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{request.user}}<i
                        class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
</nav>