{% extends 'core/base.html' %}
{% load static %}
{% block title %}Crear Usuario{% endblock %}
{% block content %}
    <div>
        {% include 'core/includes/core_menu.html' %}
        <div class="row">
            <form class="col s12" action="" method="post">{% csrf_token %}
                <h4>Nombre:</h4>
                <div class="row">
                    <div class="input-field col s4">
                        {{form.primer_nombre}}
                        <label for="id_primer_nombre">Primer nombre</label>
                    </div>
                    {{form.primer_nombre.errors}}
                    <div class="input-field col s4">
                        {{form.segundo_nombre}}
                        <label for="id_segundo_nombre">Segundo nombre</label>
                    </div>
                </div>
                <h4>Apellidos:</h4>
                <div class="row">
                    <div class="input-field col s4">
                        {{form.apellido_paterno}}
                        <label for="id_apellido_paterno">Apellido paterno</label>
                    </div>
                    {{form.apellido_paterno.errors}}
                    <div class="input-field col s4">
                        {{form.apellido_materno}}
                        <label for="id_apellido_materno">Apellido materno</label>
                    </div>
                </div>
                <h4>Datos personales:</h4>
                <div class="row">
                    <div class="input-field col s4">
                        {{form.email}}
                        <label for="id_email">Email</label>
                    </div>
                    {{form.email.errors}}
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        {{form.telefono}}
                        <label for="id_telefono">Telefono</label>
                    </div>
                    {{form.telefono.errors}}
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Guardar
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>

{% endblock %}
{% block script_block %}
<script>
    $(document).ready(function () {
            Materialize.updateTextFields();
    });
</script>
{% endblock %}